.additional-checkout-button{border:0 !important;border-radius:5px !important;display:inline-block;margin:0 0 10px;padding:0 24px !important;max-width:100%;min-width:150px !important;line-height:44px !important;text-align:center !important}.additional-checkout-button+.additional-checkout-button{margin-left:10px}.additional-checkout-button:last-child{margin-bottom:0}.additional-checkout-button span{font-size:14px !important}.additional-checkout-button img{display:inline-block !important;height:1.3em !important;margin:0 !important;vertical-align:middle !important;width:auto !important}@media (max-width: 500px){.additional-checkout-button{display:block;margin-left:0 !important;padding:0 10px !important;width:100%}}.additional-checkout-button--apple-pay{background-color:#000 !important;color:#fff !important;display:none;font-family:-apple-system, &#39;Helvetica Neue&#39;, sans-serif !important;min-width:150px !important;white-space:nowrap !important}.additional-checkout-button--apple-pay:hover,.additional-checkout-button--apple-pay:active,.additional-checkout-button--apple-pay:visited{color:#fff !important;text-decoration:none !important}.additional-checkout-button--apple-pay .additional-checkout-button__logo{background:-webkit-named-image(apple-pay-logo-white) center center no-repeat !important;background-size:auto 100% !important;display:inline-block !important;vertical-align:middle !important;width:3em !important;height:1.3em !important}@media (max-width: 500px){.additional-checkout-button--apple-pay{display:none}}.additional-checkout-button--google-pay{line-height:0 !important;padding:0 !important;border-radius:unset !important;width:80px !important}@media (max-width: 500px){.additional-checkout-button--google-pay{width:100% !important}}.gpay-iframe{height:44px !important;width:100%  !important;cursor:pointer;vertical-align:middle !important}.additional-checkout-button--paypal-express{background-color:#ffc439 !important}.additional-checkout-button--paypal{vertical-align:top;line-height:0 !important;padding:0 !important}.additional-checkout-button--amazon{background-color:#fad676 !important;position:relative !important}.additional-checkout-button--amazon .additional-checkout-button__logo{-webkit-transform:translateY(4px) !important;transform:translateY(4px) !important}.additional-checkout-button--amazon .alt-payment-list-amazon-button-image{max-height:none !important;opacity:0 !important;position:absolute !important;top:0 !important;left:0 !important;width:100% !important;height:100% !important}.additional-checkout-button-visually-hidden{border:0 !important;clip:rect(0, 0, 0, 0) !important;clip:rect(0 0 0 0) !important;width:1px !important;height:1px !important;margin:-2px !important;overflow:hidden !important;padding:0 !important;position:absolute !important}
.shopify-payment-button__button--hidden {
  visibility: hidden;
}

.shopify-payment-button__button {
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 0 transparent;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  width: 100%;
  transition: background 0.2s ease-in-out;
}

.shopify-payment-button__button[disabled] {
  opacity: 0.6;
  cursor: default;
}

.shopify-payment-button__button--unbranded {
  background-color: #1990c6;
  padding: 1em 2em;
}

.shopify-payment-button__button--unbranded:hover:not([disabled]) {
  background-color: #136f99;
}

.shopify-payment-button__more-options {
  background: transparent;
  border: 0 none;
  cursor: pointer;
  display: block;
  font-size: 1em;
  margin-top: 1em;
  text-align: center;
  width: 100%;
}

.shopify-payment-button__more-options:hover:not([disabled]) {
  text-decoration: underline;
}

.shopify-payment-button__more-options[disabled] {
  opacity: 0.6;
  cursor: default;
}

.shopify-payment-button__button--branded {
  display: flex;
  flex-direction: column;
  min-height: 44px;
  position: relative;
  z-index: 1;
}

.shopify-payment-button__button--branded .shopify-cleanslate {
  flex: 1 !important;
  display: flex !important;
  flex-direction: column !important;
}

#site-title{
  padding: 5px;
}
.currency-picker--wrapper .sod_select.custom::after{
  top: 6px;
}
.currency-picker--wrapper .sod_select.custom.custom{
  padding-top: 0;
  padding-bottom: 0;
}
#main-navigation-wrapper{
  padding: 10px 0;
}


#epo-options{
  clear: both;
  margin: 10px 0px 5px 0px;
}
#epo-options .epo-option{
  display:block;
  margin: 0px 0px 10px 0px;
}
.epo-option > label:first-child{
  display:block;
  margin: 0px;
}
.epo-option > input[type='checkbox'],.epo-option > input[type='radio']{
  height:initial;
  margin: 0px 5px 0px 0px;
}
.epo-option > input[type='checkbox'] + label,.epo-option > input[type='radio'] + label{
  display:inline;
  position:static;
  margin:0px;
}
#epo-erro-msg-div{
  display:block;
  color:#F00;
  margin:0px 0px 10px 0px;
}
#epo-erro-msg-div > span{
  display:block;
  height:initial;
}
.epo-required:after{
  content:" *";
  color:#F00;
}
#epo-help-msg-div{
  display:block;
  margin:0px 0px 10px 0px;
}
#epo-help-msg-div > span{
  display:block;
  height:initial;
}
#help-required{
  color:#F00;
}
.epo-extra-price{
  color: #AB1515;
}
.sc-epo-add-to-cart-div svg{
  vertical-align:middle;
}


.sc-epo-add-to-cart{background: #c70cb0 none repeat scroll 0 0;    border: 0 none;    border-radius: 0;    color: #ffffff;    font-size: 16px;    margin-bottom: 20px;    margin-top: 20px;    padding: 12px 30px;    text-transform: none;    width: 100%;}.sc-epo-add-to-cart:hover{background: #c70cb0 none repeat scroll 0 0;    border: 0 none;    border-radius: 0;    color: #ffffff;    font-size: 16px;    margin-bottom: 20px;    margin-top: 20px;    padding: 12px 30px;    text-transform: none;    width: 100%;}
